[run]
branch = True
source =
    gitlab_github_mirror_repo


[paths]
source =
   src/gitlab_github_mirror_repo
   .tox/*/lib/python*/site-packages/gitlab_github_mirror_repo


[report]
show_missing = True
precision = 2
